n8n-workflows/workflow-3-document-upload.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3f692bd-d27f-4c1f-b337-731edb6bc3d4",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "e5f33be3-f1e8-47ee-be38-b514fc104995",
              "name": "step_number",
              "value": "={{ $json.body.step_number }}",
              "type": "number"
            },
            {
              "id": "55fe0f62-458b-4a90-b537-57b64779aab4",
              "name": "step_name",
              "value": "={{ $json.body.step_name }}",
              "type": "string"
            },
            {
              "id": "1af9c775-be0a-4059-8de0-7751e3b78cd0",
              "name": "step_data",
              "value": "={{ $json.body.step_data }}",
              "type": "string"
            },
            {
              "id": "1d70695e-eeb0-425d-a46b-660c6acc66b9",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        448
      ],
      "id": "b5365bab-768e-43c8-b6f3-bdc9f4970ee8",
      "name": "Normalize Step Payload"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b91d49a3-6145-4349-9525-100ac75863c4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        448
      ],
      "id": "029efae8-c763-4d76-b581-a6b3cb5202ca",
      "name": "Document Upload Webhook",
      "webhookId": "b91d49a3-6145-4349-9525-100ac75863c4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e48f2a8e-cc48-4a9f-beaa-8969d23f5a4e",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d1278682-1e1d-43d0-976b-8b2e6b3e0f62",
              "leftValue": "={{ $json.step_number }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "62a37dc0-33c1-49d2-bc6c-23be11324dd6",
              "leftValue": "={{ $json.step_number }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "b12bc4f5-a22f-4714-8314-71a759573f91",
              "leftValue": "={{ $json.step_number }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        448
      ],
      "id": "d4e4462d-a045-4af3-bb3d-2e72e726362c",
      "name": "Validate File Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"VInb0zHYRQYM0rvqW8YT\",\n  \"page\": 1,\n  \"pageLimit\": 10,\n  \"filters\": [\n    {\n      \"field\": \"email\",\n      \"operator\": \"eq\",\n      \"value\": \"{{ $('Normalize Step Payload').item.json.email }}\"\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        432
      ],
      "id": "72554430-b49b-4c96-980b-440936425583",
      "name": "Find Contact by Email",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1Nwoq4guqXFBhh9B",
          "name": "Header Auth account for pipeline"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c978765-0abc-43fb-8ba7-bb01314a2ece",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -832,
        704
      ],
      "id": "a74244f2-2cb3-46fd-ad24-e5c2ccf01204",
      "name": "Check Step 3 Upload"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"key\": \"onboarding_progress\",\n      \"field_value\": {{$json.step_number}}\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        688
      ],
      "id": "6481a4d3-3102-4f42-b8c9-cc3706c1124e",
      "name": "Update Onboarding Progress Field",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1Nwoq4guqXFBhh9B",
          "name": "Header Auth account for pipeline"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        688
      ],
      "id": "4c7cb6ad-abc9-4dfa-b617-f98b61ca46cb",
      "name": "Prepare Document Log Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Appointment booked successfully\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        688
      ],
      "id": "b22306a9-7dc8-4ffd-9089-bee3456de606",
      "name": "Return Upload Success Response"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JZ23GMlAV3FF3nMUZsl_UqGj9P8YaH-mKc8BOmZBsQM",
          "mode": "list",
          "cachedResultName": "NovaPulse Digital - Onboarding Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JZ23GMlAV3FF3nMUZsl_UqGj9P8YaH-mKc8BOmZBsQM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JZ23GMlAV3FF3nMUZsl_UqGj9P8YaH-mKc8BOmZBsQM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Step Number": "={{ $json.step_number }}",
            "Step Name": "={{ $json.step_name }}",
            "Email": "={{ $json.email }}",
            "Company": "={{ $json.company }}",
            "Data Summary": "={{ $json.data_summary }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Step Number",
              "displayName": "Step Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Step Name",
              "displayName": "Step Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Summary",
              "displayName": "Data Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        688
      ],
      "id": "49326653-3f84-44d3-b510-a5b3d148bcc9",
      "name": "Append Row to Document Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wZSgujc5GpgVoU6i",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Normalize Step Payload": {
      "main": [
        [
          {
            "node": "Validate File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Upload Webhook": {
      "main": [
        [
          {
            "node": "Normalize Step Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate File Metadata": {
      "main": [
        [
          {
            "node": "Find Contact by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact by Email": {
      "main": [
        [
          {
            "node": "Check Step 3 Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step 3 Upload": {
      "main": [
        [
          {
            "node": "Update Onboarding Progress Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Onboarding Progress Field": {
      "main": [
        [
          {
            "node": "Prepare Document Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document Log Data": {
      "main": [
        [
          {
            "node": "Append Row to Document Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Row to Document Log": {
      "main": [
        [
          {
            "node": "Return Upload Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b555b5d71ea7d40f0ebe444a4a804283c568a88f169b7dfbce31e1c66e1334dc"
  }
}
